/* app css stylesheet */
html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
}

.clear
{
    clear:both;
}

input
{
    font-family: 'Maven Pro', sans-serif !important;
}

#main-container
{
    height: 100%;
}

#am-companion .container
{
    margin: 0;
    padding: 0;
}

#am-companion h1
{
    margin-top: 0;
}

#logo
{
}

#loginModal .form-group
{
    opacity: 0.8;
}

.row
{
    margin-left: 0 !important;
    margin-right: 0 !important;;
}

#home
{
    background: url("../img/brushed.png");
    height: 100%;
    width: 100%;
}

#loginModal
{
    background: url("../img/login-background-full.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
}

.btn-steria
{
    background: #04315b;
    color: white;
}

.btn-steria:hover
{
    color: white !important;
}

.btn-steria:active
{
    background: #064885;
}

/*
NavBAR
*/
#nav-logo
{
    height: 30px;
    margin-top: 10px;
}

.navbar-header
{
    text-align: center;
}


@media screen and (max-width: 640px) {

    #loginModal {
        background: url("../img/login-background-mobile.jpg");
        background-size: cover;
    }

    #logo {
        width: 300px;
    }
}