<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div ng-if="homeDisplay">
        <div class="navbar-header">
            <img src="/img/logo-icon.png" id="nav-logo">
            <span class="right-menu-icon glyphicon glyphicon-off" ng-click="disconnect()"></span>
        </div>
    </div>

    <div ng-if="!homeDisplay" class="navbar-header">
        <div class="row">
            <div class="columns small-2" ng-if="editMode" ng-click="cancelEditMode()">
                <span class="left-menu-icon glyphicon glyphicon-ban-circle" style="color:{{cancelColor}}"></span>
            </div>
            <div class="columns small-2" ng-if="!editMode" ng-click="goBack()">
                <span class="left-menu-icon glyphicon glyphicon-chevron-left" style="color:{{backColor}}"></span>
            </div>

            <div class="columns small-7 menu-title">
                <span ng-bind="libelle"></span>
            </div>


            <div class="columns small-2" ng-if="!editMode" ng-click="toggleEditMode()">
                <span class="right-menu-icon glyphicon glyphicon-edit" style="color:{{editColor}}"></span>
            </div>
            <div class="columns small-2" ng-if="editMode" ng-click="validateEditMode()">
                <span class="right-menu-icon glyphicon glyphicon-ok" style="color:{{validateColor}}"></span>
            </div>
        </div>

    </div>
</nav>