<div class="container" id="employee-view">
    <employee-header></employee-header>
    <div class="row">
        <div class="separator columns small-12">
            <span class="text">Objectifs</span>
        </div>
        <div class="item columns small-12" ng-repeat="objective in selectedEmployee.CurrentObjectives">
            <progress-arc complete="objective.progressionPercent/100" stroke="progressColors[$index]"></progress-arc>
            <div class="percent" ng-class="{'cent':objective.progressionPercent == 100}">{{objective.progressionPercent}}%</div>
            <div class="text">{{objective.text}} </div>
        </div>
        <div class="separator columns small-12">
            <span class="text">Entretiens</span>
        </div>
        <div class="item columns small-12" ng-repeat="link in selectedEmployee.Links">
            {{link.date|date}}
        </div>
    </div>
</div>