<div class="container" id="employee-view">
    <employee-header></employee-header>
    <div class="row">
        <div class="separator columns small-12">
            <span class="text">Objectifs</span>
        </div>
        <div class="item columns small-12" ng-repeat="objective in selectedEmployee.CurrentObjectives">
            <progress-arc complete="objective.progressionPercent/100" stroke="progressColors[$index]"></progress-arc>
            <div class="percent" ng-class="{'cent':objective.progressionPercent == 100}">{{objective.progressionPercent}}%</div>
            <div class="text">{{objective.text}} </div>
        </div>
        <div class="separator columns small-12">
            <span class="text">Entretiens</span>
        </div>
        <div class="item columns small-12" ng-repeat="link in selectedEmployee.Links | orderBy:'date':'reverse'">
            <div class="row">
                <div class="small-2 columns">
                    <span class="glyphicon glyphicon-calendar item-icon-left"></span>
                </div>
                <div class="small-9 columns">
                    <div>{{link.type}}</div>
                    <div>{{link.date|date}}</div>
                </div>
                <div class="next columns small-1">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>