<div class="row">
    <div class="employee columns small-12" ng-class="{'last':last}">
        <div class="row">
            <div class="user-icon columns small-2">
                <i class="glyphicon glyphicon-user status-{{employee.Status}}"></i>
            </div>
            <div class="user-info columns small-10">
                <div>
                    <span ng-bind="employee.FirstName"></span>
                    <span ng-bind="employee.LastName"></span>
                </div>

                <div ng-if="lastLink != undefined">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span ng-bind="lastLink.date|date:'dd/MM/yyyy'"></span>,
                    <span ng-bind="lastLink.type|truncate:13"></span>
                </div>
                <div ng-if="lastLink == undefined">
                    Pas de rendez vous
                </div>
            </div>
        </div>
        <div class="row objectives">
            <!--
            <progressbar animate="false" value="percentObjectives" type="objectiveColor">
                <b>{{percentObjectives}}%</b>
            </progressbar>
            -->
        </div>
    </div>
</div>