<div id="loginModal">
    <img id="logo" src="./img/logo-white.png"/>

    <div class="row">
        <form class="columns large-4 large-centered small-10 small-centered center-block" ng-submit="login()" name="loginForm">
            <div class="row collapse">
                <div class="columns small-1 large-1">
                    <span class="prefix">@</span>
                </div>
                <div class="columns small-11 large-11">
                    <input type="email" name="email" class="form-control" placeholder="Adresse mail" ng-model="credentials.email" required>
                </div>
            </div>
            <div class="row collapse">
                <div class="columns small-1 large-1">
                    <span class="prefix"><i class="fi-lock"></i></span>
                </div>
                <div class="columns small-11 large-11">
                    <input name="password" type="password" class="form-control" placeholder="Mot de passe" ng-model="credentials.password" required>
                </div>
            </div>

            <div class="row">
                <button type="submit"
                        ng-class="{'alert':failed,'success':success}"
                       class="btn-steria"
                       ng-disabled="!loginForm.$valid || loading">
                    {{buttonLabel}}
                    <i class="fi-refresh" ng-class="{'loading':loading}"></i>
                </button>
            </div>
        </form>
        <div class="clear"></div>
    </div>
</div>