<div class="container" id="employee-view">
    <amc-header go-back-handler="goBack()"
                label="nomPrenom"
                home-display="false"
                edit-mode="editMode"></amc-header>
    <div class="content">
        <div class="row">
            <!-- Affichage de l'endroit -->
            <div class="separator columns small-12">
                <span class="text">Lieu</span>
            </div>
            <div class="item-without-padding columns small-12">
                <select ng-model="selectedLink.Type" ng-options="o as o for o in linkTypes"></select>
            </div>
            <!-- Affichage de la date -->
            <div class="separator columns small-12">
                <span class="text">Date</span>
            </div>
            <div class="item-without-padding columns small-12">
                <input type="date"
                       ng-model="selectedDate"
                       ng-change="changeSelectedDate()"
                        >
            </div>
            <!-- Affichage du commentaire -->
            <div class="separator columns small-12">
                <span class="text">Commentaire</span>
            </div>
            <div class="item-fit-without-padding columns small-12">
                <textarea ng-model="selectedLink.Comment" rows="10" ></textarea>
            </div>
        </div>
    </div>
</div>
