<div class="container" id="employee-view">
    <amc-header go-back-handler="objectiveController.goBack()"
                label="objectiveController.nomPrenom"
                home-display="false"
                edit-mode="objectiveController.editMode"></amc-header>
    <div class="content">
        <div class="row">
            <!-- Affichage du texte -->
            <div class="separator columns small-12">
                <span class="text">Intitulé</span>
            </div>
            <div class="columns small-12">
                <div class="input-group input-group-lg columns small-12 small-centered" >
                    <input type="text" class="form-control" placeholder="Intitulé" ng-model="objectiveController.selectedObjective.Text" required>
                </div>
            </div>
            <!-- Affichage de l'endroit -->
            <div class="separator columns small-12">
                <span class="text">Pourcentage d'accomplissement</span>
            </div>
            <div class="item columns small-12">
                <div class="input-group input-group-lg columns small-12 small-centered" >
                    <div class="rzslider">
                        <rzslider
                            rz-slider-model="objectiveController.selectedObjective.ProgressionPercent"
                            rz-slider-floor="0"
                            rz-slider-ceil="100"></rzslider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
