<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="amCompanion" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="amCompanion" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="amCompanion" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="amCompanion" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Am Companion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <base href="/">
        <link rel="stylesheet prefetch" href="/dist/style.min.css"/>

    </head>
    <body id="am-companion" class="fade-view" ng-controller="RootController">
        <div id="main-container" ng-view class="view"></div>
        <div class="notif-update" ng-if="updateStatus != 0">
            <div ng-if="updateStatus == 1">Mise à jour en cours <i class="fa fa-circle-o-notch fa-spin"></i> </div>

        </div>
        <script src="/dist/script.js"></script>
    </body>
</html>
