<div class="container" id="employee-view">
    <amc-header go-back-handler="goBack()"
                libelle="nomPrenom"
                home-display="false"
                edit-mode="editMode"></amc-header>

    <div class="content">
        <div class="row">
            <div class="separator columns small-12">
                <span class="text">Objectifs</span>
                <span class="action float-right" ng-click="createNewObjective()">
                    <button class="btn">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div class="item columns small-12" ng-repeat="objective in selectedEmployee.CurrentObjectives"
                 ng-click="showFullObjective( $index )">
                <div class="columns small-11">
                    <progress-arc complete="objective.progressionPercent/100" stroke="progressColors[$index]"></progress-arc>
                    <div class="percent" ng-class="{'cent':objective.progressionPercent == 100}">{{objective.progressionPercent}}%</div>
                    <div class="text">{{objective.text}} </div>
                </div>
                <div ng-if="!editMode" class="next columns small-1">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div ng-if="editMode" class="next columns small-1" ng-click="deleteObjective($event, $index)">
                    <span class="glyphicon glyphicon glyphicon-trash red"></span>
                </div>

            </div>
            <div class="separator columns small-12">
                <span class="text">Entretiens</span>
                <span class="action float-right">
                    <button class="btn">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div class="item columns small-12"
                 ng-repeat="link in selectedEmployee.Links | orderBy:'date':'reverse'"
                 ng-click="showFullLink( link )"
                    >
                <div class="row">
                    <div class="small-2 columns">
                        <span class="glyphicon glyphicon-calendar item-icon-left"></span>
                    </div>
                    <div class="small-9 columns">
                        <div>{{link.type}}</div>
                        <div>{{link.date|date:'d MMMM yyyy'}}</div>
                    </div>
                    <div ng-if="!editMode" class="next columns small-1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div ng-if="editMode" class="next columns small-1" ng-click="deleteLink($event, $index)">
                        <span class="glyphicon glyphicon glyphicon-trash red"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>