<div class="container" id="employee-view">
    <amc-header go-back-handler="goBack()"
                libelle="nomPrenom"
                home-display="false"
                edit-mode="editMode"></amc-header>

    <div class="content">
        <div class="row">
            <div class="separator columns small-12">
                <span class="text">Objectifs</span>
                <span class="action float-right" ng-click="createNewObjective()">
                    <button class="btn add-new" ng-disabled="editMode">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
            <div class="item columns small-12" ng-repeat="objective in selectedEmployee.Objectives"
                 ng-click="showFullObjective( $index )">
                <div class="columns small-10">
                    <progress-arc complete="objective.ProgressionPercent/100" stroke="progressColors[$index]"></progress-arc>
                    <div class="percent" ng-class="{'cent':objective.ProgressionPercent == 100}">{{objective.ProgressionPercent}}%</div>
                    <div class="text">{{objective.Text}} </div>
                </div>
                <div ng-if="!editMode" class="next columns small-1">
                </div>
                <div ng-if="!editMode" class="next columns small-1">
                    <i class="fa-angle-right fa"></i>
                </div>
                <div ng-if="editMode" class="text-center next columns small-2" ng-click="deleteObjective($event, $index)">
                    <span class="fa fa-trash-o red"></span>
                </div>

            </div>
            <div class="separator columns small-12">
                <span class="text">Entretiens</span>
                <span class="action float-right" ng-click="createNewLink()">
                    <button class="btn add-new" ng-disabled="editMode">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
            <div class="item columns small-12"
                 ng-repeat="link in selectedEmployee.Links | orderBy:'date':'reverse'"
                 ng-click="showFullLink( link )"
                    >
                <div class="row">
                    <div class="small-2 columns">
                        <i class="fa item-icon-left" ng-class="getIcon(link.Type)" ></i>
                    </div>
                    <div class="small-8 columns">
                        <div>{{link.Type}}</div>
                        <div>{{link.Date|date:'d MMMM yyyy'}}</div>
                    </div>
                    <div ng-if="!editMode" class="next columns small-1">
                    </div>
                    <div ng-if="!editMode" class="next columns small-1">
                        <i class="fa-angle-right fa"></i>
                    </div>
                    <div ng-if="editMode" class="text-center next columns small-2" ng-click="deleteLink($event, $index)">
                        <span class="fa fa-trash-o red"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
