/****** Barre de notif *******/
.notif-update
{
    bottom : 0;
    position : fixed;
    width : 100%;
    height : 26px;
    font-size : 16px;
    text-align : center;
    background-color : white;
    -moz-box-shadow : 0 -1px 8px 0 #656565;
    -webkit-box-shadow : 0 -1px 8px 0 #656565;
    -o-box-shadow : 0 -1px 8px 0 #656565;
    box-shadow : 0 -1px 8px 0 #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=8);
    transition : all 300ms linear;
    -moz-transition : all 300ms linear;
    -ms-transition : all 300ms linear;
    -o-transition : all 300ms linear;
    -webkit-transition : all 300ms linear;
    opacity : 1;
}

.notif-update.ng-hide
{
    opacity : 0;
}

.fadein.ng-hide-remove
{
    opacity : 0;
    display : block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active
{
    opacity : 1;
}

.notif-update.tall
{
    height : 56px;
}

.notif-update i
{
    margin-left : 5px;
}